body {
	font-family: arial, Helvetica, sans-serif;
	text-align: center;
	background: #1b890e;
	color: white;padding: 0 0 6em 0;
	background-image: url('../images/grass.jpg');
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-origin: initial;
	background-clip: initial;
	margin: 0;
}

#turnIndicator{
	wi
}




.image {
	border-radius: 1em;
	border: 3px dotted white;
	background: url('../images/card-bg.jpg') no-repeat;
	background-size: 130px 130px;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	width: 130px;
	height: 130px;
	vertical-align: top;
}

.playerimg {
	width: 130px;
	height: 130px;
}

.selected {
	visibility: hidden;
}

.players {
	float: right;
}


.row {
	margin-left: 45px;
}

.buttonsDiv {
	text-align: center;
	margin: 20px;
	display: block;
	font-size: 18px;
	padding-left: 70px;
}

.buttonsDiv .player1, .player2, .reset, #turnIndicator {
	text-transform: uppercase;
	background: #EE872A;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.buttonsDiv .timer {
	text-transform: uppercase;
	background: #EE872A;
	padding: 5px 10px;
	margin: 5px 10px 5px 10px;
	border-radius: 10px;
}

.counter1, .counter2 {
	background: #EE3311;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.container {
		width: 756px;
	}
}
