body {
	font-family: arial, Helvetica, sans-serif;
	text-align: center;
	background: #1b890e;
	color: white;padding: 0 0 6em 0;
	background-image: url('../images/grass.jpg');
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-origin: initial;
	background-clip: initial;
	margin: 0;
}

.image {
	border-radius: 1em;
	border: 3px dotted white;
	background: url('../images/card-bg.jpg') no-repeat;
	background-size: 110px 110px;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	width: 110px;
	height: 110px;
	vertical-align: top;
}

.playerimg {
	width: 110px;
	height: 110px;
}

.players {
	float: right;
}


.row {
	margin-left: 45px;
}

.points {
	font-size: 30px;
	display: inline-block;
	padding-left: 60px;
}

.time {
	/*float: right;*/
	font-size: 30px;
	display: inline-block;
	margin-left: 350px;
}


