

.card {
	border-radius: 1em;
	border: 3px dotted white;
	background-color: #f93;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	vertical-align: top;
}

.players {
	float: right;
}

/*.player-1 {
	float: right;
}

.player-2 {
	float: right;
}*/

.row {
	margin-left: 300px;
}

.points {
	float: left;
	font-size: 30px;
}

.time {
	float: right;
	font-size: 30px;
}

@media (min-width: 768px) {}

	.col-sm-8 {
	  min-width: 100%;
	  margin-left: 0;
	}

}

